<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <!--This preview activity is defined in Compose library.
        No need to include it in release builds. -->
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            tools:node="remove" />

    </application>

</manifest>