<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.ilikeyourhat.lsaa.app">

    <application
        android:name="com.github.ilikeyourhat.lsaa.core.engine.MultiModuleApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_global_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LargeScaleAndroidApp"
        tools:ignore="DataExtractionRules" />

</manifest>