<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.softwarealchemy.lsaa.feature.settings">

    <application>
        <meta-data
            android:name="pl.softwarealchemy.lsaa.feature.settings.Initializer"
            android:value="ModuleInitializer" />

        <activity android:name=".home.SettingsActivity" />
    </application>

</manifest>