<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="com.github.ilikeyourhat.lsaa.feature.settings.Initializer"
            android:value="ModuleInitializer" />

        <activity android:name=".home.SettingsActivity" />
        <activity android:name=".licenses.LicensesActivity" />
    </application>

</manifest>